<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=1202"> -->
    <!-- <meta http-equiv="imagetoolbar" content="false" name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>HUIYI</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/qui.css">
    <script src="../lib/vue.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/sidebar.js"></script>
    <script src="../js/footer.js"></script>
</head>

<body οncοntextmenu="return false">
    <div id="vue_app">
        <!--自定义的组件使用-->
        <common-head @switch="handleMenu"></common-head>
        <!--页面自有内容-->
        <div class="content">
            <div class="sidebar-wrap" v-if="isOpen">
                <common-sidebar></common-sidebar>
            </div>
            <div :class="['content-detail', isOpen ? 'moveRight' : '']">
                <div class="condition">
                    <div class="qui-wrap">
                        <div class="qui-text">
                            <span>Qui somme-nous?</span>
                        </div>
                    </div>
                    <div class="condition-content">
                        <div class="qui-content-list" v-for="item in contentList">
                            <h5>{{item.title}}</h5>
                            <div class="content-list-desc" v-for="itemQ in item.list">
                                <span>{{itemQ}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <common-footer></common-footer>

            </div>

        </div>

    </div>

</body>

</html>
<script>
    //vue
    app_all = new Vue({
        el: "#vue_app",
        data: {
            isOpen: true,
            contentList: [
                {
                    title: "Nos valeurs d'entreprise",
                    list: ['Viser un avenir meilleur et le créer ensemble']
                },
                {
                    title: "Notre philosophie",
                    list: ['Intégrité', 'Honnêteté', 'Serviabilité']
                },
                {
                    title: "Notre vision d'entreprise",
                    list: ['Devenir une entreprise de référence, dans le domaine des écrans intelligents']
                },
                {
                    title: "Nos compétences principales",
                    list: ['Expérience', 'Qualité-Prix', 'Equipe dynamique']
                }
            ]
        },
        methods: {
            handleMenu() {
                this.isOpen = !this.isOpen
            }
        }
    })
</script>