.content {
    display: flex;
    margin-top: 10.8rem;
}
.sidebar-wrap {
    width: 25.8rem;
    background-color: #e6e6e6;
}
.content-detail {
    margin: 11.6rem auto 0;
    flex: 1;
    
}
/* .moveRight {
    width: 80%;
} */
.condition {
    padding-bottom: 6.9rem;
    margin: 0 auto;
    width: 80%;
    padding-left: 2rem;
}
.condition-wrap {
    padding-top: 4rem;
    box-shadow: darkgrey 0px 0px 30px 5px;
    
}

.condition h2{
    height: 6.1rem;
    line-height: 6.1rem;
	font-family: Roman;
	font-size: 2.4rem;
    color: #000000;
    text-align: center;
}

.condition-content {
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    padding: 3rem 7.8rem 3.8rem 7.5rem;
    background-color: #fff;
    margin: 0 auto;
    font-family: Roman;
	font-size: 1.2rem;
    color: #000;
    text-align: center;
}

.email-wrap {
    display: flex;
    justify-content: center;
}
.email-wrap p {
    margin-right: 1rem;
}
.email-wrap p span{
    display: inline-block;
    width: 10.4rem;
    height: 4.1rem;
    text-align: left;
    text-indent: 1.8rem;
    line-height: 4.1rem;
    background-color: #797777;
    font-family: Roman;
	font-size: 1.2rem;
    color: #ffffff;
    border-radius: 0.8rem;
}
.email-wrap p input {
    width: 12rem;
    height: 2.8rem;
    border: none;
    border: 2px solid #999;
}
.message p{
    display: flex;
    align-items: flex-start;
}

.message p span {
    margin-right: 0.5rem;
}
.message p textarea {
    width: 37rem;
    border: none;
    border: 2px solid #999;
}
.envoyer {
    margin-top: 2rem;
    display: inline-block;
    text-decoration: none;
    font-family: MdFont;
	font-size: 1.7rem;
    color: #ffffff;
    width: 14.1rem;
    height: 4.1rem;
    line-height: 4.1rem;
    background-color: #2b6590;
    border-radius: 4.1rem;
}