.content {
    display: flex;
    margin-top: 10.8rem;
}
.sidebar-wrap {
    width: 25.8rem;
    background-color: #e6e6e6;
}
.content-detail {
    margin: 11.6rem auto 0;
    flex: 1;
    
}
/* .moveRight {
    width: 80%;
} */
.condition {
    padding-bottom: 6.9rem;
    margin: 0 auto;
    width: 80%;
    padding-left: 2rem;
}
.fqa-wrap {
    margin-bottom: 1.8rem;
    display: flex;
    height: 14.3rem;
}
.fqa-text {
    width: 68%;
    background-color: #e6e6e6;
    position: relative;
}
.fqa-text span {
    font-family: MdFont;
	font-size: 2.1rem;
    color: #1a1a1a;
    position: absolute;
    left: 8.4rem;
    top: 6.3rem;
}
.fqa-desc {
    width: 32%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.fqa-desc span {
    margin-left: 3.9rem;
    font-family: MdFont;
	font-size: 13px;
	color: #1a1a1a;
}
.fqa-desc .center {
    margin: 1rem 0 1rem 3.9rem;
}

.condition h2{
    padding: 2.9rem;
    margin: 0 auto;
	font-family: BdFont;
	font-size: 4.4rem;
	line-height: 4rem;
	letter-spacing: 0px;
    color: #000000;
    text-align: center;
}

.condition-content {
    padding: 3rem 7.8rem 3.8rem 7.5rem;
    background-color: #f2f2f2;
    margin: 0 auto;
    font-family: HelveticaNeue;
	font-size: 1.3rem;
	color: #000;
}

.condition-content .p2{
    font-family: Roman;
	font-size: 2.1rem;
	color: #000000;
}
.condition-content .center{
    text-align: center;
}