body,div,ul,ol,dl,dt,dd,li,dl,h1,h2,h3,h4
 
　　{margin:0;padding:0;font-style:normal;font:12px/22px"\5B8B\4F53",Arial,Helvetica,sans-serif}
 
　　ol,ul,li{list-style:none;}
 
　　img{border:0;vertical-aligpadn:middle;}
 
　　body{color:#000000;background:#FFF;text-align:center;}
 
　　.clear{clear:both;height:1px;width:100%;overflow:hidden;margin-top:-1px;}
 
　　a{color:#000000;text-decoration:none;}
 
　　a:hover{color:#BA2636;text-decoration:underline;}
html {
    font-size: 62.5%
}

@font-face {
    font-family: 'BdFont';   /*字体名称*/
    src: url('../lib/Linotype\ -\ HelveticaNeueLTPro-Bd.otf');       /*字体源文件*/
  }

@font-face {
    font-family: 'LtdFont';   /*字体名称*/
    src: url('../lib/Linotype\ -\ HelveticaNeueLTPro-Lt.otf');       /*字体源文件*/
}

@font-face {
    font-family: 'MdFont';   /*字体名称*/
    src: url('../lib/Linotype\ -\ HelveticaNeueLTPro-Md.otf');       /*字体源文件*/
}

@font-face {
    font-family: 'Roman';   /*字体名称*/
    src: url('../lib/Linotype\ -\ HelveticaNeueLTPro-Roman.otf');       /*字体源文件*/
}

.nav {
    width: 100%;
    height: 10.8rem;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.menu {
    width: 10.8rem;
    height: 10.8rem;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icon{
    width: 2.4rem;
    height: 2.1rem;
}
.logo {
    padding: 0 6.2rem;
}
.logo-icon {
    width: 4.1rem;
    height: 3.4rem;
    background: url(../img/logo2.png);
    background-size: 100% 100%;
}
.nav-item {
    display: flex;
}
.item {
    cursor: pointer;
    padding:  0 1.5rem;
    height: 10.8rem;
    display: flex;
    align-items: center;
}
.active {
    border-bottom: 2px solid #000;
}
.item span {
    font-family: Roman;
	font-size: 1.3rem;
	color: #1a1a1a;
}
.sidebar-wrap {
    position: fixed;
    left: 0;
    top: 10.8rem;
}
.sidebar {
    padding: 4.3rem 4rem 11.5rem 2.5rem;
    
}

.list {
    display: flex;
    align-items: flex-end;
    height: 5.4rem;
    border-bottom: 0.2rem solid #ccc;
}
.list a {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #1a1a1a;
    font-family: Roman;
	font-size: 1.3rem;
}
.list a i {
    margin-right: 0.2rem;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: bolder;
}
.activeSide {
    font-family: MdFont!important;
}
.footer {
   
    padding: 6.4rem 0 9.6rem 0;
}
.wrap {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-wrap {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2.1rem 0 1.3rem;
    width: 18%;
    background-color: #fff;
    padding-bottom: 1.8rem;
}
.footer-wrap:last-of-type{
    margin-right: 0;
}
.footer-title {
    margin-top: 5.6rem;
    font-family:Roman;
	font-size: 1.4rem;
	color: #1a1a1a;
}
.footer-list-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 3.4rem;
    width: 100%;
}
.footer-list {
    display: flex;
}
.footer-list a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: #808080;
    font-family: Roman;
	font-size: 1.3rem;
}
.footer-list a i {
    margin-right: 0.2rem;
    font-style: normal;
    font-size: 2rem;
    font-weight: bolder;
    color: #221815;
}

.img-list {
    margin-top: 5.6rem;
    display: flex;
    justify-content: center;
}
.img-list .logo {
    margin-right: 2rem;
}
.img-list .logo:last-of-type{
    margin-right: 0;
}
.img-list-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.img-icon {
    margin-bottom: 2rem;
    margin-right: 2.5rem;
    height: 4.4rem;
}
.first-icon {
    height: 3rem;
}
.moveRight {
   padding-left: 300px;
}
