.content {
    display: flex;
    margin-top: 10.8rem;
}
.sidebar-wrap {
    width: 25.8rem;
    background-color: #e6e6e6;
}
.content-detail {
    margin: 11.6rem auto 0;
    flex: 1;
    
}
/* .moveRight {
    width: 80%;
} */
.condition {
    padding-bottom: 6.9rem;
    margin: 0 auto;
    width: 80%;
    padding-left: 2rem;
}
.condition-wrap {
    box-shadow: darkgrey 0px 0px 30px 5px;
}

.condition h2{
    padding: 2.9rem;
    margin: 0 auto;
	font-family: BdFont;
	font-size: 4.4rem;
	line-height: 4rem;
	letter-spacing: 0px;
    color: #000000;
    text-align: center;
}

.condition-content {
    padding: 3rem 7.8rem 3.8rem 7.5rem;
    background-color: #f2f2f2;
    margin: 0 auto;
    font-family: HelveticaNeue;
	font-size: 1.3rem;
	color: #000;
}

.condition-content .p2{
    font-family: Roman;
	font-size: 2.1rem;
	color: #000000;
}
.condition-content .center{
    text-align: center;
}